.leaderboard-screen {
  max-height: 43.1rem;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(182deg, var(--secondary-color) 0%, white 33%);
}

.leaderboard-screen__title {
  color: white;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

.leaderboard-screen__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.leaderboard-screen__close:hover {
  transform: scale(1.1);
}

.leaderboard-screen__list {
  list-style: none;
  width: 100%;
  max-height: 87vh;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.ranking__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
