* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eyes,
.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.eyes {
  pointer-events: auto;
}

.body {
  pointer-events: none;
}

.sleep {
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translate(-58%, -4%);
  pointer-events: none;
}
