.error-with-sign-in-modal {
  z-index: 10;
}

.error-with-sign-in-modal .modal__inner {
  display: flex;
  flex-direction: column;
  z-index: 11;
}

.error-with-sign-in-modal .button {
  margin-top: auto;
}
