.info {
  position: relative;
  z-index: 1;
  max-width: 34rem;
  margin: 0 auto;
}

.title,
.user-title {
  padding: 2rem 0 0 0;
  color: white;
  text-shadow: 3px 2px 6px var(--primary-color);
  font-size: 3rem;
  font-family: var(--font-secondary);
  opacity: 1;
  transition: opacity 0.5s;
}

.user-title {
  font-size: 1.7rem;
  padding: 1rem;
  line-height: 1;
  text-align: center;
}

.title-hidden {
  opacity: 0;
}

.subtitle {
  padding: 0 2rem;
}

.counter-text {
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
}

.counter {
  display: inline-block;
  margin: -3px 5px;
  padding: 0rem 0.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 4px;
}

@media screen and (max-width: 48rem) {
  .info {
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    left: 0;
    width: 100%;
  }

  .title,
  .subtitle,
  .counter-text {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 24rem) {
  .info {
    max-width: 34rem;
    margin: 0 auto;
  }
}
