.combos {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: var(--font-secondary);
}

.combo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 10px red;
  animation: slideOutUp var(--combo-duration);
  font-family: var(--font-secondary);
}

.--combo-mini {
  font-size: 1rem;
  text-shadow: none;
  color: var(--point-color);
}

.--combo-small {
  font-size: 1.6rem;
}

.--combo-normal {
  font-size: 1.8rem;
}

.--combo-huge {
  font-size: 2.5rem;
}

.--combo-monster {
  font-size: 3.5rem;
}
