.clock {
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(1.7);
  z-index: 5;
}

.clock__face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em;
  font-size: calc(var(--clock-size) * 0.2em);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform-origin: center center;
  transition: all 10s ease-in;
}

/* .clock.--alert {
  --clock-size: 14;
} */

.clock.--alert .clock__face {
  background-color: var(--primary-color);
}

.clock.--alert .clock__face {
  animation: blinker 1s linear infinite;
}

.clock__face:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.clock__timer {
  position: absolute;
  font-size: inherit;
}

.clock__countdown {
  position: relative;
  height: var(--clock-circle-size);
  width: var(--clock-circle-size);
  text-align: center;
}

.clock__countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--clock-circle-size);
  height: var(--clock-circle-size);
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.clock__countdown svg .clock__circle {
  stroke-dasharray: 180px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 0s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 180px;
  }
}

@keyframes blinker {
  50% { background-color: transparent; }
}

@media screen and (max-width: 40rem) {
  .clock {
    top: -2rem;
    right: -2rem;
    left: unset;
    transform: scale(1);
  }
}
