.ranking__list {
  list-style: none;
  width: 100%;
}

.ranking__item {
  display: flex;
  align-items: baseline;
  padding: 0.2rem 0.5rem 0.2rem 0;
}

.ranking__item:nth-child(odd) {
  background-color: #f5f5f5;
}

.ranking__item.--current {
  position: relative;
  background-color: var(--primary-color);
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ranking__item.--current .ranking__score {
  color: #fff;
}

.ranking__item.--current .ranking__position {
  width: 3ch;
  font-size: 1rem;
}

.ranking__position {
  padding: 0 0.5rem;
  width: 4ch;
  opacity: 0.6;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.ranking__name {
  flex: 1 1 auto;
}

.ranking__score {
  color: var(--primary-color);
}

.ranking__signup {
  position: absolute;
  top: 1.8rem;
  z-index: 1;
  color: var(--primary-color);
  background-color: rgb(255 255 255);
  border: 1px dashed #b95377;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}

.ranking__signup-text {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;
  color: black;
}

.ranking__item.--current .counter {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.ranking__signup .button {
  width: calc(100% + 2px);
  margin-left: -1px;
  margin-bottom: -1px;
}
