:root {
  --color: #0d3046;
}

#root .loader {
  background-color: var(--color);
}

#root a {
  color: black;
  text-decoration: none;
}

#root a:hover {
  text-decoration: underline;
}

#root .instructions-edition__title,
#root .edition__title,
#root .counter,
#root .button,
#root .ranking__score,
#root .final-screen__score,
#root .final-screen__record-value,
#root .podium__score,
#root .podium__you,
#root .leaderboard-preview__subtitle {
  color: var(--color);
}

#root .clock__face {
  color: var(--color);
  background-color: var(--tertiary-color);
}

#root .ranking__item.--current,
#root .ranking__item.--current .ranking__score,
#root .ranking__image-fallback {
  color: white;
  background-color: var(--color);
}

#root .ranking__item.--current .ranking__image-fallback {
  color: var(--color);
  background-color: white;
}

#root .question-bonus {
  color: var(--color);
}

#root .edition {
  display: none;
}

#root #buy-me-coffe-info-modal {
  display: none;
}

#root .instruction-edition {
  color: var(--secondary-color);
}

#root .button.--secondary:hover {
  color: var(--color);
  background-color: var(--tertiary-color);
  border-color: var(--color);
}

#root .button:hover {
  color: var(--color);
  background-color: var(--tertiary-color);
  border-color: var(--color);
}

#root .shadow svg {
  fill: black;
}

#root .subtitle {
  color: white;
}

#root .sponsor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#root .sponsor__title {
  color: white;
}

#root .sponsor__subtitle {
  color: var(--primary-color);
}

#root .sponsor .sponsor__image {
  max-width: 12rem;
  margin-top: 1rem;
}
