
:root {
  --color: #0d3046;
}

#root .instructions-edition__title,
#root .edition__title,
#root .counter,
#root .button,
#root .ranking__score,
#root .final-screen__score,
#root .final-screen__record-value,
#root .podium__score,
#root .podium__you {
  color: var(--color);
}

#root .clock__face {
  color: var(--color);
  background-color: var(--tertiary-color);
}

#root .ranking__item.--current,
#root .ranking__item.--current .ranking__score,
#root .ranking__image-fallback {
  background-color: var(--color);
}

#root .ranking__item.--current .ranking__image-fallback {
  color: var(--color);
  background-color: white;
}

#root .question-bonus {
  color: var(--color);
}

#root .edition__image {
  border-radius: 0.2rem;
}

#root .sponsor .sponsor__image {
  max-width: 4rem;
  margin-top: 0.5rem;
}

#root #buy-me-coffe-info-modal {
  display: none;
}

#root .instruction-edition {
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--primary-color);
}

#root .button.--secondary:hover {
  color: var(--color);
  background-color: var(--tertiary-color);
  border-color: var(--color);
}

#root .button:hover {
  color: var(--color);
  background-color: var(--tertiary-color);
  border-color: var(--color);
}
