.clock {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.clock__face {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.clock__timer {
  font-size: 1.5rem;
}
