.clock {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  width: 3rem;
}

.clock__face {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.clock__timer {
  font-size: 1.5rem;
}

@media screen and (min-width: 24rem) {
  .clock {
    position: absolute;
    top: 5.5rem;
    left: 60%;
  }
}
