.leaderboard-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 0;
}

.leaderboard-preview__title {
  font-size: 1rem;
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
}

.leaderboard-preview__subtitle {
  color: var(--primary-color);
}
