:root {
  --primary-color: #b95377;
  --background-color: #cd879f;
  --combo-duration: 3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: 'Secular One', Helvetica, sans-serif;
  touch-action: none;
}

a {
  color: var(--primary-color);
}

.shadow {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-32%, -50%);
  opacity: 0.5;
  animation: shadow-iddle 2s ease-in-out infinite;
}

.eyes,
.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.eyes {
  transform: translate(-50%, -50%) skewX(-10.5deg);
  cursor: pointer;
}

.body {
  transform: translate(-51.55%, -36.70%);
  pointer-events: none;
}

.sleep {
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translate(-58%, -14%);
  pointer-events: none;
}

.icons {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation-duration: 1s;
}

.icon {
  width: 2rem;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1, 1.1)
}

.icon-info {
  width: 2.5rem;
}

.texture {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.4;
  filter: opacity(0.5);
  pointer-events: none;
}

.rope {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  transform: translate(-50%, -50%);
  border: 2px dotted white;
  height: 100vh;
}

.spider-wrapper {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

.spider-wrapper {
  display: block;
}

.spider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 45rem;
  animation: iddle 2s ease-in-out infinite;
}

.surprise {
  animation: surprise 0.250s;
}

.big-surprise {
  animation: big-surprise 1s;
}

#settings-close-icon {
  display: none;
}

.info {
  position: relative;
  z-index: 1;
}

.title {
  padding: 2rem 2rem 0;
  color: white;
  text-shadow: 3px 2px 6px var(--primary-color);
  font-size: 3rem;;
}

.subtitle {
  max-width: 20rem;
  padding: 0 2rem;
}

.counter-text {
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
}

.counter {
  margin: -3px 5px;
  padding: 0rem 0.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 4px;
}

/* Vendor */
.tp-dfwv.tp-dfwv {
  top: unset;
  bottom: 5rem;
  left: 1rem;
  z-index: 5;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  color: black;
  pointer-events: auto;
}

.modal.visible {
  display: block;
}

.modal__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 67%);
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 384px;
  min-height: 24rem;
  padding: 2rem;
  background-color: rgb(255 255 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal__header {
  margin-bottom: 4rem;
}

.modal__title {
  width: 19rem;
  font-size: 1.5rem;
  text-align: left;
  border: 1px solid white;
}

.modal__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  border: 1px solid white;
  cursor: pointer;
}

.modal-link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.modal-link:hover {
  background-color: rgb(244, 244, 244);
}

.modal-link__icon {
  width: 2rem;
}

.modal-link__title {
  text-align: left;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-link__share {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.modal-link:hover {
  color: currentColor;
}

.info-modal p {
  margin-bottom: 1rem;
}

.credits {
  font-family: Helvetica;
  font-size: 0.8rem;
}

.text-underline {
  text-decoration: underline;
}

@keyframes surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes big-surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.5); }
  50% { transform: scale(1.5, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes surprise-mobile {
  0% { transform: scale(1.2, 0.5); }
  25% { transform: scale(0.6, 1.2); }
  50% { transform: scale(1.5, 0.9); }
  75% { transform: scale(0.95, 1.05); }
  100% { transform: scale(0.95, 1.05); }
}

@keyframes iddle {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -48%) scaleX(1.05);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shadow-iddle {
  0% {
    transform: translate(-32%, -50%) scaleX(1);
    opacity: 0.7;
  }

  50% {
    transform: translate(-32%, -50%) scale(1.3, 1);
    opacity: 0.5;
  }

  100% {
    transform: translate(-32%, -50%) scaleX(1);
    opacity: 0.7;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0) scaleY(2.5);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -40%, 0) scaleY(0.9);
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 30rem) {
  .spider-wrapper {
    width: 150%;
    left: -25%;
    top: -22%;
  }

  .shadow {
    width: 54%;
    bottom: 11rem;
  }

  .rope {
    left: calc(50% - 7px);
  }

  .info {
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    left: 0;
    width: 100%;
  }

  .title,
  .subtitle,
  .counter-text {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  .hide-in-mobile {
    display: none;
  }

  .modal__inner {
    top: unset;
    left: unset;
    bottom: 0;
    transform: translate(0, 0);
    max-width: unset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .icons {
    bottom: 1rem;
    left: 1rem;
  }
}

@media screen and (max-height: 784px) {
  .sleep {
    top: 7vh;
  }
}

@media screen and (max-height: 640px) {
  .shadow {
    display: none;
  }

  .credits {
    background: rgb(0 0 0 / 14%);
    border-radius: 10px;
  }

  .spider-wrapper {
    top: -7rem;
  }

  .sleep {
    top: -2vh;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 100%;
  height: 100%;
}

.invisible {
  display: none;
}

.loader .loader__thread {
  position: absolute;
  top: calc(50% - 21rem);
  left: 50%;
  transform: translate(-50%, calc(-50% + 21rem));
  width: auto;
  height: 21rem;
}

.loader .loader__ball {
  position: absolute;
  top: calc(50% - 15rem);
  left: calc(50% + 0.5rem);
  height: 6rem;
  transform: translate(-50%, calc(-50% + 23rem));
}

.loader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0;
  height: 69%;
  border-left: 4px dotted white;
}

.bounce-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.transparent {
  opacity: 0;
}

.collider {
  position: absolute;
  top: 66%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 17rem;
  height: 12rem;
  border-radius: 2rem;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.combos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.combo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 10px red;
  animation: slideOutUp var(--combo-duration);
}

@keyframes slideOutUp {
  from {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }

  to {
    visibility: hidden;
    transform: translate3d(-50%, -300%, 0);
    opacity: 0;
  }
}

.--combo-mini {
  font-size: 1rem;
  text-shadow: none;
}

.--combo-small {
  font-size: 1.6rem;
}

.--combo-normal {
  font-size: 1.8rem;
}

.--combo-huge {
  font-size: 2.5rem;
}

.--combo-monster {
  color: red;
  font-size: 3.5rem;
  text-shadow: 0 0 10px white;
}
