:root {
  --primary-color: #b95377;
  --background-color: #cd879f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: 'Secular One', Helvetica, sans-serif;
}

a {
  color: var(--primary-color);
}

.shadow {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-32%, -50%);
  opacity: 0.5;
  animation: shadow-iddle 2s ease-in-out infinite;
}

.eyes,
.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 70rem;
}

.eyes {
  transform: translate(-50%, -50%) skewX(-10.5deg);
  cursor: pointer;
}

.body {
  transform: translate(-51.55%, -36.70%);
  pointer-events: none;
}

.sleep {
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translate(-58%, -14%);
  pointer-events: none;
}

.icon {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 2.5rem;
  cursor: pointer;
  z-index: 2;
}

img {
  fill: var(--primary-color);
}

.icon:hover {
  transform: scale(1.1, 1.1)
}

.texture {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.4;
  filter: opacity(0.5);
  pointer-events: none;
}

.rope {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  transform: translate(-50%, -50%);
  border: 2px dotted white;
  height: 100vh;
}

.spider-wrapper {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.spider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: iddle 2s ease-in-out infinite;
}

.surprise {
  animation: surprise 0.5s;
}

#settings-close-icon {
  display: none;
}

.info {
  position: relative;
  z-index: 1;
}

.title {
  padding: 2rem 2rem 0;
  color: white;
  text-shadow: 3px 2px 6px var(--primary-color);
  font-size: 3rem;;
}

.subtitle {
  max-width: 20rem;
  padding: 0 2rem;
}

.counter-text {
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
}

.counter {
  margin: -3px 5px;
  padding: 0rem 0.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 4px;
}

/* Vendor */
.tp-dfwv.tp-dfwv {
  top: unset;
  bottom: 5rem;
  left: 1rem;
  z-index: 3;
}

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  color: black;
  pointer-events: auto;
}

.modal.visible {
  display: block;
}

.modal__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 67%);
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 384px;
  min-height: 24rem;
  padding: 2rem;
  background-color: rgb(255 255 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal__header {
  margin-bottom: 4rem;
}

.modal__title {
  width: 19rem;
  font-size: 1.5rem;
  text-align: left;
  border: 1px solid white;
}

.modal__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  border: 1px solid white;
  cursor: pointer;
}

.icon-share {
  bottom: 6rem;
}

.modal-link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.modal-link:hover {
  background-color: rgb(244, 244, 244);
}

.modal-link__icon {
  width: 2rem;
}

.modal-link__title {
  text-align: left;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-link__share {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.modal-link:hover {
  color: currentColor;
}

.icon-info {
  bottom: 10rem;
  width: 3rem;
}

.info-modal p {
  margin-bottom: 1rem;
}

.credits {
  font-family: Helvetica;
  font-size: 0.8rem;
}

.text-underline {
  text-decoration: underline;
}

@keyframes surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes iddle {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -48%) scaleX(1.05);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shadow-iddle {
  0% {
    transform: translate(-32%, -50%) scaleX(1);
    opacity: 0.5;
  }

  50% {
    transform: translate(-32%, -50%) scale(1.3, 0.9);
    opacity: 0.7;
  }

  100% {
    transform: translate(-32%, -50%) scaleX(1);
    opacity: 0.5;
  }
}

@media screen and (max-width: 30rem) {
  .spider-wrapper {
    width: 150%;
    left: -25%;
  }

  .shadow {
    width: 54%;
    bottom: 5rem;
  }

  .rope {
    left: calc(50% - 7px);
  }

  .title,
  .subtitle,
  .counter-text {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  .hide-in-mobile {
    display: none;
  }

  .modal__inner {
    top: unset;
    left: unset;
    bottom: 0;
    transform: translate(0, 0);
    max-width: unset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .icon-info {
    top: 2.5rem;
    right: 1rem;
    left: unset;
    width: 3rem;
  }
}

@media screen and (max-height: 784px) {
  .sleep {
    top: -5vh;
  }
}

@media screen and (max-height: 640px) {
  .shadow {
    width: 58%;
    bottom: 0;
    max-width: 14rem;
  }

  .credits {
    background: rgb(0 0 0 / 14%);
    border-radius: 10px;
  }
}

@media screen and (max-height: 540px) {
  .shadow {
    display: none;
  }
}
