.info {
  position: relative;
  width: 100%;
}

.title,
.user-title {
  color: white;
  font-size: clamp(1rem, 8vw, 3rem);
  line-height: 1;
  font-family: var(--font-secondary);
  opacity: 1;
  transition: opacity 0.5s;
}

.title {
  max-width: 18rem;
}

.title:hover {
  animation: shakeX 1s ease-in-out;
}

.user-title {
  font-size: 1.3rem;
  line-height: 1;
  text-align: left;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  padding: 1rem 0;
  line-height: 1;
  overflow: hidden;
}

.title-hidden {
  opacity: 0;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.counter-text {
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
}

.counter {
  display: inline-block;
  margin: -3px 5px;
  padding: 0rem 0.7rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 4px;
}

@media screen and (max-width: 40rem) {
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .user-title {
    text-align: center;
  }
}

@media screen and (max-width: 38rem) {
  .counter-text {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
