@keyframes surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes middle-surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.3); }
  50% { transform: scale(1.3, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes big-surprise {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.5); }
  50% { transform: scale(1.5, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes surprise-mobile {
  0% { transform: scale(1.2, 0.5); }
  25% { transform: scale(0.6, 1.2); }
  50% { transform: scale(1.5, 0.9); }
  75% { transform: scale(0.95, 1.05); }
  100% { transform: scale(0.95, 1.05); }
}

@keyframes iddle {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }

  50% {
    transform: translate3d(-50%, -48%) scaleX(1.05);
  }

  100% {
    transform: translate3d(-50%, -50%);
  }
}

@keyframes inactivity {
  0% {
    transform: translate3d(-50%, 0, 0);
  }

  50% {
    transform: translate3d(-50%, -3%, 0) scaleX(1.05);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes shadow-iddle {
  0% {
    transform: translate3d(-32%, -50%, 0) scaleX(1);
    opacity: 0.7;
  }

  50% {
    transform: translate3d(-32%, -50%, 0) scale(1.3, 1);
    opacity: 0.5;
  }

  100% {
    transform: translate3d(-32%, -50%, 0) scaleX(1);
    opacity: 0.7;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0) scaleY(2.5);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -40%, 0) scaleY(0.9);
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
	will-change: transform;
}

.bounceInLeft {
  animation-name: bounceInLeft;
	will-change: transform;
}

.surprise {
  animation: surprise 0.250s;
	will-change: transform;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.surprise {
		animation: middle-surprise 0.250s;
		will-change: transform;
	}
}

.big-surprise {
  animation: big-surprise 1s;
	will-change: transform;
}

.counter-effect {
  animation: big-surprise 250ms;
	will-change: transform;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }

  to {
    visibility: hidden;
    transform: translate3d(-50%, -300%, 0);
    opacity: 0;
  }
}

@keyframes slideOutUpLight {
  0% {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    transform: translate3d(-50%, -300%, 0);
    opacity: 0;
  }
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeY {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(0, 10px, 0);
  }
}

.shakeX {
  animation-name: shakeX;
}

.shakeY {
  animation-name: shakeY;
}

.shakeX,
.shakeY {
  animation-duration: 2s;
  animation-play-state: running;
  animation-iteration-count: 1;
	will-change: transform;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShakeHard {
  animation: headShake 150ms infinite;
	will-change: transform;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
	will-change: transform;
}

@keyframes skeleton {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
  animation-delay: 1s;
	will-change: transform;
}
