@import './base/base.css';
@import './loader/loader.css';
@import './vendor/vendor.css';
@import './components/components.css';
@import './utils/utils.css';
@import './animations/animations.css';

.debug-mode * {
  border: 1px dashed white !important;
}

.test-mode * {
  animation: none !important;
}

.bounce-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 40rem) {
  .hide-in-desktop {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  .hide-in-mobile {
    display: none;
  }

  .leaderboard {
    left: 1rem;
  }
}

.gradient-background {
  background: linear-gradient(300deg, var(--background-color),var(--primary-color), black);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
}

.sky-gradient-background {
  background: linear-gradient(1deg, var(--background-color),var(--primary-color) 20%, #391735 73%);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#confetti {
  position: absolute;
  z-index: 11;
}

.aside {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

@media screen and (max-width: 40rem) {
  .aside {
    left: 0;
    width: 100%;
    bottom: 0;
  }
}

.version {
  padding: 0.25rem;
  font-size: 0.5rem;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255);
}

.version:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
